*, *::before, *::after {
    box-sizing: border-box;
}

:root{
    --primary-color: #6D0808;
    --secondary-color: #FFF9F2;
    --primary-text-color: #2D0000;
    --secondary-text-color: #757D6F;
    --tertiary-color: #DDD8C4;
    --error-color: #B3261E;
    --success-color: #2E7D32;
}
body {
    font-family: "Outfit", sans-serif;
}

#title, .createAccount-wrapper h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    background-color: var(--secondary-color);
}

.header *{
    margin: 0;
}

.header{
    margin-bottom: 1.5rem;
    display: flex;
}

#subTitle{
    color: var(--secondary-text-color);
    font-size: 11px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.container form, .container .header, .container .steps, .container .createAccount-wrapper {
    width: 100%;
}

.container input,
.container .password-wrapper,
.container .budget {
    width: 100%;
}

.container label{
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 1.25rem;
    font-size: 12px;
    font-weight: 600;
    color: var(--secondary-text-color)
}

.container label:first-of-type{
    margin-top: 0;
}

form{
    margin-top: 1rem;
}

.steps {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.steps p {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin: 0;
    color: var(--secondary-color)
}

#stepsTwo{
    background-color: var(--tertiary-color);
    color: var(--secondary-text-color);
}

#line_in_step {
    height: 2px;
    width: 40px;
    background-color: var(--tertiary-color);
}

.createAccount-wrapper{
    margin-bottom: 0.5rem;
}

.createAccount-wrapper h1{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.createAccount-wrapper p{
    margin: 0;
    color: var(--secondary-text-color);
}

#step1{
    display: flex;
    flex-direction: column;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input, #nextBtn, #backBtn, #submitBtn{
    border: 2px solid var(--tertiary-color);
    padding: 12px;
    border-radius: 10px;
    height: 47px;
    font-weight: 400;
    font-size: 15px;
    color: var(--primary-text-color);
}

input:focus {
    outline: 2px solid var(--secondary-text-color);
}

input:not(:placeholder-shown):invalid {
    border: 2px solid var(--error-color);
}

input:not(:placeholder-shown):valid {
    border: 2px solid var(--success-color);
}

input::placeholder{
    color: var(--primary-text-color);
    opacity: 0.5;
}

#nextBtn, #backBtn, #submitBtn{
    margin-top: 1.5rem;
    background-color: var(--primary-color);
    border: 0px transparent;
    color: var(--secondary-color);
    font-weight: 600;
    color: var(--secondary-color);
}

.password-wrapper, .confirmPass-wrapper {
    position: relative;
}

.password-wrapper input, .confirmPass-wrapper input {
    width: 100%;
    padding-right: 2.5rem;
}

.password-wrapper .toggle-password, .confirmPass-wrapper .toggle-password{
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: var(--secondary-text-color)
}

#haveAcc{
    text-align: center;
    margin-top: 1rem;
}

#haveAcc{
    color: var(--secondary-text-color);
    font-weight: 300;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 600;
}

ul {
    padding-left: 5px;
}

ul li{
    font-weight: 300;
    list-style: "x ";
    list-style-position: inside;
    margin: 0;
    font-size: small;
}

#password-requirements {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    padding-left: 0;
    margin: 15px 0px 0px; 
}

#password-requirements.show {
    max-height: 200px; 
    opacity: 1;
}
